.hide-show p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}
.hide-show.show p {
  display: block;
  overflow: auto;
}
.d-none {
  display: none;
}
.show .d-none {
  display: block;
}
.show .d-show {
  display: none;
}
